.alert {
    padding: 1.05;
    margin-bottom: 1.05;
    border: 1px $BorderStyle transparent;

    > p,
    > ul {
        margin-bottom: 0;
    }

    > p + p {
        margin-top: 1.05;
    }

    &.alert--success {
        color: green;
        border-color: green;
    }

    &.alert--info {
        color: $info;
        border-color: $info;
    }

    &.alert--warning {
        color: orange;
        border-color: orange;
    }

    &.alert--danger {
        color: red;
        border-color: red;
    }
}
