/**
 * Post Thumbnails
 */

.post-thumbnail {
	@extend %responsive--WidthDefault;
	text-align: center;
	background: $white url(images/pattern-light.svg) repeat fixed;
	display: block;
	position: relative;
	width: calc(100% - calc(2 * $Spacer));
	z-index: 0;

	.entry-header &,
	.singular & {
		@extend %responsive-WidthWideNested;
	}

	> a { @include on-event; }

	.wp-post-image {
		display: block;
		width: auto;
		max-width: calc(100% - calc(2 * $Spacer));
		margin-left: auto;
		margin-right: auto;
		margin-top: calc($SpacerHorizontal / 2);
	}
}

.full-width .post-thumbnail img {
	display: block;
	margin: 0 auto;
}
