// Aside - The <aside> HTML element represents a portion of a document whose content is only indirectly related to the document's main content. Asides are frequently presented as sidebars or call-out boxes.

$aside-Offset-horizontal: 1rem;
$aside-Offset-vertical: 1.25rem;
$asideSize: calc($FontSize * .875);


aside {
  font-size: $asideSize;
  vertical-align: baseline;
  float: right;

  background-color: Background($accent);
  border: 1px solid $BorderColor;
  border-radius: 5px;
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


/* Make aside full-width on mobile */
@media only screen and (max-width: 720px) {
  aside {
    width: calc(100% - calc(2 * $Spacer));
    float: none;
    margin-left: 0;
  }
}
