// Main - The <main> HTML element represents the dominant content of the body of a document. The main content area consists of content that is directly related to or expands upon the central topic of a document, or the central functionality of an application.

$duration: 0.7s;
$main-bg: gray-100;

main {/* Add a little padding to ensure spacing is correct between content and header > nav */

  display: block;
  font-size: 100%;

  align-content: stretch;
  align-items: flex-start;

  vertical-align: baseline;
  border: 0;
  outline: 0;
  header {
    text-align: center;
  }
}
