// Section - The <section> HTML element represents a generic standalone section of a document, which doesn't have a more specific semantic element to represent it. Sections should always have a heading, with very few exceptions.

$section-padding: 2rem 1rem;
$section-Offset-desktop: 3rem 3rem;
$section-Offset-medium: 9rem 4.5rem;
$section-Offset-large: 18rem 6rem;

section {
  position: relative;
  left: 0;

  float: left;

  font-size: $FontSize;

  display: block;
  overflow: hidden;

  border-top: $BorderWidth solid $BorderColor;
  border-bottom: $BorderWidth solid $BorderColor;
  outline: 0;
  background: transparent;

  header{
    padding-top: 0;
    width: calc(100% - calc(2 * $Spacer));
  }

  /* Don't double separators when chaining sections */
  + section,
  &:first-child {
    border-top: 0;
    padding-top: 0;
  }
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  h2:first-child {
    margin-top: $BaseUnit;
  }
  &:nth-of-type(even) {
    color: #111111;
    background: transparent;
  }
  &[container] {
    max-width: 38em;
    margin: auto;
    padding: 5px;
  }
}

.section-inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 120rem;
	width: calc(100% - 4rem);
}

.section-inner.max-percentage { width: calc(100% - calc(2 * $Spacer)); }

.section-inner.thin { max-width: 58rem; }

.section-inner.small { max-width: 80rem; }

.section-inner.medium { max-width: 100rem; }

.section-inner.no-margin { margin: 0; }
