@each $color, $value in $theme-colors {
  $link-shade-percentage:                   20% !default;
  a {
    &.#{$color} {
      color: LinkShade($value) !important; // stylelint-disable-line declaration-no-important
      @include on-event {
        @if $link-shade-percentage != 0 {
          &:hover,
          &:focus {
            color: if(color-contrast($value) == $color--ContrastLight, darken($value, $link-shade-percentage), tint-color($value, $link-shade-percentage)) !important;
          }
        }
      }
    }
  }
}
