/* WP CSS - post_class() */
.post,
.page {
  margin: calc( $Spacer / 2);
  padding: calc( $Offset / 2);
}

.sticky { /* This class is required to pass ThemeCheck. */
  display: block;
	&-post {
		display: inline-block;
		padding: .25rem;
		position: absolute;
		z-index: $zindex-sticky;
	}
}

.no-results.not-found > *:first-child {
	margin-bottom: calc(3 * var(--global--spacing-vertical));
}

.page-links { /* Style the page numbers for multi-page posts (posts that have been split with <!--next-page -->. */
	@include clearfix;
  text-align: center;
	margin: 0 0 $Spacer;
	.prev,
	.next {
		&.page-numbers {
			display: inline-block;
		}
	}
	.post-page-numbers {
		display: inline-block;
		margin-right: calc(0.66 * $SpacerVertical);
		margin-left: calc(0.66 * $SpacerVertical);
		min-width: 44px;
		min-height: 44px;
    padding: $Offset;
		margin-top: $Spacer;
		&:first-child {
			margin-left: 0;
		}

		&.current { }
		&:after {
			position: absolute;
			height: 100%;
			width: calc(100% - calc(2 * $Spacer));
			top: 0;
			display: block;
			z-index: -1;
			left: 0;
			content: "";
		}
		@include on-event {
			&:after {

			}
		}
	}
	.caption {
		padding: 10px 15px;
		&:after {
			content: none;
		}
		@include on-event;
	}
}
