.nav-link {
  display: block;
  padding: $nav-link--OffsetVertical $nav-link--OffsetHorizontal;
  @include font-size($nav-link-font-size);
  font-weight: $nav-link-font-weight;
  color: $nav-link-color;
  text-decoration: if($link-decoration == none, null, none);
  @include Transition($nav-link-transition);

  &:hover,
  &:focus {
    color: $nav-link-hover-color;
    text-decoration: if($hover-decoration == underline, none, null);
  }

  // Disabled state lightens text
  &.disabled {
    color: tint($nav-link-color, $inactive-percentage);
    pointer-events: none;
    cursor: default;
  }
}
