/**
 * Hamburger menu
 */

.nav-burger {
    position: fixed;
    top: $base-unit;
    right: $base-unit;
    z-index: 550;
    transition: all $AnimationSpeed $Animation;
}

.nav-burger__line {
    width: 35px;
    height: 3px;
    background-color: $primary-color;
    display: none;
    margin: 8px auto;
    transition: all $AnimationSpeed $Animation;

    @include resp-max($breakpoint-md) {
        display: block;
    }

    .nav-burger.open & {
        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(1) {
            transform: translateY(11px) rotate(45deg);
        }

        &:nth-child(3) {
            transform: translateY(-11px) rotate(-45deg);
        }
    }
}


/**
 * Navs
 */

.nav {
  list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;

    > li {
        display: inline-block;
        margin-right: $Spacer;

        &:last-child {
            margin-right: 0;
        }
        > a {
            display: block;
        }
    }
}
.nav-link {
  display: block;
  padding: $nav-link--OffsetVertical $nav-link--OffsetHorizontal;
  @include font-size($nav-link-font-size);
  font-weight: $nav-link-font-weight;
  color: $nav-link-color;
  text-decoration: if($link-decoration == none, null, none);
  @include Transition($nav-link-transition);

  &:hover,
  &:focus {
    color: $nav-link-hover-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}
.nav--header {

    // mobile nav
    @include resp-max($breakpoint-md) {
        position: fixed;
        top: 0;
        left: 0;
        visibility: hidden;
        width: 0;
        height: 100%;
        margin: 0;
        transition: opacity 500ms ease;
        transition: opacity .35s ease, visibility .35s ease, width .35s ease;
        text-align: center;
        opacity: 0;
        background: var(--body-bg);
        -webkit-overflow-scrolling: touch;

        &.open {
            z-index: 500;
            visibility: visible;
            width: calc(100% - calc(2 * $Spacer));
            opacity: 1;

            ul {
                position: absolute;
                top: 50%;
                left: 0;
                overflow: auto;
                width: calc(100% - calc(2 * $Spacer));
                max-height: 100%;
                margin: 0;
                padding: 0;
                user-select: none;
                transform: translateY(-50%);
                -webkit-touch-callout: none;
                -webkit-overflow-scrolling: touch;

                > li {
                    width: calc(100% - calc(2 * $Spacer));
                    margin: 0;
                }
            }
        }
    }
}

.nav-tabs {
  border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-link {
    margin-bottom: -$nav-tabs-border-width;
    background: none;
    border: $nav-tabs-border-width solid transparent;
    @include border-top-radius($nav-tabs-border-radius);

    &:hover,
    &:focus {
      border-color: $nav-tabs-link-hover-border-color;
      // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
      isolation: isolate;
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}


//
// Pills
//

.nav-pills {
  .nav-link {
    background: none;
    border: 0;
    @include border-radius($nav-pills-border-radius);
  }

  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    @include gradient-bg($nav-pills-link-active-bg);
  }
}


//
// Justified variants
//

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}

.nav-fill,
.nav-justified {
  .nav-item .nav-link {
    width: calc(100% - calc(2 * $Spacer)); // Make sure button will grow
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
