
$nav-tabs-border-color:             $primary-color;
$nav-tabs-border-width:             $border-width;
$nav-tabs-border-radius:            $border-radius;
$nav-tabs-link-hover-border-color:  $primary-color $primary-color $nav-tabs-border-color;
$nav-tabs-link-active-color:        $primary-color;
$nav-tabs-link-active-bg:           $tabs-active-bg;
$nav-tabs-link-active-border-color: $primary-color $primary-color $nav-tabs-link-active-bg;
