[class^='horizontal']&-menu,
#menubar {
  align-items: center;
	align-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  width: auto;
	height: 100%;
  position: relative;
  li { /* Makes the menu "list" items horizontal */
  	float: left;
  	margin: 0.5em 0;
  	position: relative;
    &.menu-item-has-chidren {
  		@include on-event {
  			 > ul {
  	      right: 0;
  	    	opacity: 1;
  	    	transform: translateY(0);
  	    	transition: opacity 0.15s linear, transform 0.15s linear;
  	    }
  		}
    }
    &:hover > a,
    &.current_page_item a,
    &.current-menu-item a { /* Hover styles for menu items */
      @include on-event;
    }
  }
  .line {
    width: 1px;
    height: 100%;
    background-color: translucentBackground($white);
  }
  .menu-label {
    display: inline-block;
  }
  &::before,
	&::after {
	  display: block;
	  height: 3px;
	  width: 20px;
	  background-color: #929292;
	  border-radius: 2px;
	}
	&::before {
    content: '';
    margin-top: -5px;
  }
  &::after {
    content: '';
    margin-top: 7px;
  }
}
