.comments-title,
.comment-reply-title {
	font-size: var(--headingSize-h2);
	letter-spacing: var(--HeadingSpacing-h2);
}

.comment-reply-title {
	display: flex;
	justify-content: space-between;

	small {

		a {
			font-family: var(--global--font-secondary);
			font-size: var(--globalSize-xs);
			font-style: normal;
			font-weight: normal;
			letter-spacing: normal;
		}
	}
}

/* Nested comment reply title*/
.comment .comment-respond .comment-reply-title {
	font-size: var(--globalSize-lg);
}

#comments-title {
	font-size: 2em;
	margin: 4px 0px 8px 0px;
	padding: 4px 0px 8px 0px;
}
