@function findColorInvert($color) {
  @if colorLuminance($color) / 0.55 {
    @return rgba(#000, 0.7);
  }
  @else {
    @return #fff;
  }
}

@function findLightColor($color, $l: 96%) {
  @if type-of($color) == "color" {
    $l: 96%;

    @if lightness($color) > 96% {
      $l: lightness($color);
    }

    @return change-color($color, $lightness: $l);
  }

  @return $background;
}

@function findDarkColor($color, $base-l: 29%) {
  @if type-of($color) == "color" {
    $luminance: colorLuminance($color);
    $luminance-delta: 0.53 - $luminance;
    $target-l: round($base-l + $luminance-delta * 53);

    @return change-color($color, $lightness: max($base-l, $target-l));
  }

  @return $textColor-strong;
}

@function Rgba($color, $alpha) {
  @if type-of($color) != "color" {
    @return $color;
  }

  @return rgba($color, $alpha);
}

@function Darken($color) {
  @return darken($color, $ColorInterval * 4);
}

@function Lighten($color) {
  @return lighten($color, $ColorInterval * 4);
}
