.masonry-wrapper.columns-2 { width: calc(50% - ( 1.5rem * 1 / 2 )); }
.masonry-wrapper.columns-3 { width: calc(33.33% - ( 1.5rem * 2 / 3 )); }
.masonry-wrapper.columns-4 { width: calc(25% - ( 1.5rem * 3 / 4 )); }
.masonry-wrapper.columns-5 { width: calc(20% - ( 1.5rem * 4 / 5 )); }
.masonry-wrapper.columns-6 { width: calc(16.66% - ( 1.5rem * 5 / 6 )); }
