// List Groups

@mixin ListGroup--item-variant($state,$ColorLight, $color) {
  .listgroup-item-#{$state} {
    color: $color;
    background-color:$ColorLight;

    &.listgroup-item-action {
      @include on-event {
        color: $color;
        background-color: darken($ColorLight, 5%);
      }

      &.active {
        color: $white;
        background-color: $color;
        border-color: $color;
      }
    }
  }
}
