/* Added by Andy Meetan */
.delay-250 {
    Animation-delay:0.25s;
}
.delay-500 {;
    Animation-delay:0.5s;
}
.delay-750 {
    Animation-delay:0.75s;
}
.delay-1000 {
    Animation-delay:1.0s;
}
.delay-1250 {
    Animation-delay:1.25s;
}
.delay-1500 {
    Animation-delay:1.5s;
}
.delay-1750 {
    Animation-delay:1.75s;
}
.delay0 {
    Animation-delay:2.0s;
}
.delay-2500 {
    Animation-delay:2.5s;
}
.delay0 {
    Animation-delay:2.0s;
}
.delay-2500 {
    Animation-delay:2.5s;
}
.delay-3000 {
    Animation-delay:3.0s;
}
.delay-3500 {
    Animation-delay:3.5s;
}
