/*
 * Output font size in px/rem
 */

$sizeValue: 1;
$pixels: #{16 * $sizeValue}px;
$rems: divide($sizeValue, 10) rem;

@mixin font-size($px) {
  font-size: $px + px;
  font-size: divide($px, 16) rem;
}

// Rem output with px fallback
@mixin font-size($sizeValue) {
  font-size: $pixels;
  font-size: calc(#{$sizeValue} * 1rem);
}

@mixin font-size($size) {
  font-size: $pixels;
  font-size: $rems;
}
