$menu-state-back-compat: true;
$menu-centered-back-compat: true;
$menu-icons-back-compat: true;
$menu-margin: 0;
$menu-margin-nested: 1rem;
$menu-simple-margin: 1rem;
$menu-icon-spacing: 0.25rem;
$menu-border: $light-gray;
$menu-underline-from-center-bg: #2C3840;
$menu-underline-from-center-border-thickness: 0.125rem;
$menu-fancy-spacing: 5px;
$menu-fancy-link-color: $dark-gray;
$menu-hover-lines-transition: all 0.35s ease;
$menu-hover-lines-border-width: 3px;
$menu-expand-duration: 0.3s !default;
$menu-fade-duration: 0.2s !default;
