// Re-assigned maps
//
// Placed here so that others can override the default Sass maps and see automatic updates to utilities and more.

// scss-docs-start theme-colors-rgb
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value") !default;
// scss-docs-end theme-colors-rgb

// Utilities maps
//
// Extends the default `$theme-colors` maps to help create our utilities.

// Come v6, we'll de-dupe these variables. Until then, for backward compatibility, we keep them to reassign.
// scss-docs-start utilities-colors
$utilities-colors: $theme-colors-rgb !default;
// scss-docs-end utilities-colors

// scss-docs-start utilities-TextColors
$utilities-text: map-merge(
  $utilities-colors,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($Text)
  )
) !default;
$utilities-TextColors: map-loop($utilities-text, rgba-css-var, "$key", "text") !default;
// scss-docs-end utilities-TextColors

// scss-docs-start utilities-BackgroundColors
$utilities-Background: map-merge(
  $utilities-colors,
  (
    "black": to-rgb($black),
    "white": to-rgb($white),
    "body": to-rgb($Background)
  )
) !default;
$utilities-BackgroundColors: map-loop($utilities-Background, rgba-css-var, "$key", "bg") !default;
// scss-docs-end utilities-BackgroundColors

// scss-docs-start utilitiesBorders
$utilities-border: map-merge(
  $utilities-colors,
  (
    "white": to-rgb($white)
  )
) !default;
$utilitiesBorders: map-loop($utilities-border, rgba-css-var, "$key", "border") !default;
// scss-docs-end utilitiesBorders

$negative--Spacers: if($enable-negative-Spacers, negativify-map($Spacers), null) !default;

$gutters: $Spacers !default;
