// Inline text semantics
// Use the HTML inline text semantic to define the meaning, structure, or style of a word, line, or any arbitrary piece of text.

@import "inline-text/a";
@import "inline-text/abbr";
@import "inline-text/cite";
@import "inline-text/code";

/* Use mono font for code elements */
code,
pre,
pre span,
kbd,
samp {
	color: $CodeText;
	background: $CodeBackground;
  font-family: Inconsolata, monospace, serif;
  font-size: $CodeSize;
	line-height: 1.4;
	margin: 1.5rem 0;
	padding: 0.375rem 0.5rem;
	border: $BorderWidth $BorderStyle $CodeBorder;
	border-radius: 0.1875rem;
}

@import "inline-text/emphasis";
@import "inline-text/i";
@import "inline-text/initialism";
@import "inline-text/kbd";
@import "inline-text/mark";
@import "inline-text/quote";
@import "inline-text/s";
@import "inline-text/span";
@import "inline-text/time";
