/************
* fadeOut *
*************/

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

/************
* fadeOutUp *
*************/

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(0px);
    }
}

/************
* fadeOutDown *
*************/

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(2000px);
    }
}

/************
* fadeOutLeft *
*************/

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(0px);
    }
}

/************
* fadeOutRight *
*************/


@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(2000px);
    }
}
